<!--The content below is only a placeholder and can be replaced.-->
<div >
  <div class="primericalogo">
    <span  ><img width="300" alt="Angular Logo" src="../assets/images/primerica-logo.jpg"> </span>
  </div>
  <div class="maintitle">
    <span >Welcome to  {{ title }}!</span>
  </div> 
</div>

<div *ngIf="login" class="formatSpacing">
    <div>
        <span>Username:</span>
        <input type="text"   (input)="username=$event.target.value"  />
    </div>
    <div>
        <span>Password:</span>
        <input  type="password"  (input)="password=$event.target.value"  />
    </div>
    <div>
      <input type="submit"   (click)="authenticateUser()" /> 
    </div>
</div>

<div *ngIf="!login">
    <div class="maintitle bufferspaceabove instructionfont">
        Instruction goes here for the document upload.  File has to be a PDF or an image format (jpeg, gif).

    </div>

    <app-dnd></app-dnd>
</div>

<router-outlet></router-outlet>
