@import './dnd/dnd.component.scss';

.maintitle{
    font-size:30px;
    text-align: center;
}

.primericalogo{
     text-align:left;
}

.instructionfont{
  font-size: 16px;
}

.bufferspaceabove{
   padding-top:20px;
}


.formatSpacing{
  margin-left: 100px;
  font-size: 20px;
}