.dropzone {
    min-height: 200px;
    min-width: 200px;
    display: table;
    width: 70%;
    margin: 50px auto;
    background-color: #eee;
    border: dotted 1px #aaa;
  }
  
  .text-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .centered {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align:center;
  }
  